/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
   
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    margin-left: -21px;
}

a {
    color: inherit;
    text-decoration: none;
}

.pageheader {
    width: 1440px;
    height: 79px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.link-buttons {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 33px;
    margin-right: 82px;
}

.hebergements-link:hover {
    padding-top:8px;
    border-top-style: solid;
    color: #0065FC;
}

.activites-link:hover {
    padding-top:8px;
    border-top-style: solid;
    color: #0065FC;
}

h1 {
    margin-bottom: 0px;
}

#logo {
    width: 61.09px;
    height: 19px;
    top: 30px;
    left: 50px;
    margin-top: 33px;
}

.search-bar {
    width: 377px;
    height: 49px;
    border-radius: 15px;
}

::placeholder{
    width: 147px;
    height: 21px;
    top: 14px;
    left: 74px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    text-align: center;
    color: #000000;
}

.loc-icon-button {
    width: 50px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
    border: 1px;
    border: 1px solid #F2F2F2;
}

.search-button {
    width: 132px;
    height: 49px;
    padding: 15px 16px 15px 16px;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    border: 1px solid #0065FC;
}

.search-button-txt {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    text-align: center;
    color: #FFFFFF;
}

.magnifying-glass-button {
    padding: 15px 16px 15px 16px;
    border-radius: 15px;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    display:none;
}

.fa-magnifying-glass {
    color: #FFFFFF;
}

.fa-location-dot {
    width: 14px;
    height: 18px;
    color: #000000;
}

input {
    width: 153px;
    padding: 15px 16px 15px 16px;
    border: 1px solid #F2F2F2;
}

.search-bar {
    margin-top: 0px;
    display: flex;
}

.filters {
    width: 54px;
    height: 21px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    text-align: center;
}

.filter-bar {
    width: 758px;
    height: 50px;
    gap: 15px;
    margin-top: 33px;
    margin-bottom: 33px;
    display: flex;
}

.filter-button{
    padding: 4px 19px 4px 19px;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    background-color: white;
}

.filter-button-txt{
    font-size: 17px;
    font-weight: 700;
    text-align: left;
}

.filter-button:hover {
    background-color: #DEEBFF;
}

button i{
    width: 22px;
    height: 22px;
}

.fa-money-bill-wave{
    width: 22px;
    margin-right: 5px;
}
.fa-person{
    width: 13.44px;
    margin-right: 5px;
}

.fa-heart {
    width: 22px;
    margin-right:5px;
}

.fa-fire {
    width: 18px;
    margin-right: 5px;
}

.info-bar {
    gap: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    text-align: left;
    margin-bottom: 33px;
    display: flex;
    flex-direction: row;
}

.info-bar p{
    margin-top:0px;
}

.fa-info {
    width: 24px;
    height: 24px;
    border: 1px;
}

body {
    display: flex;
    justify-content: center;
}

.room-cards {
    padding-left: 0px;
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.room-cards .card {
    width: 250.33px;
    padding: 0px 0px 15px 0px;
    border-radius: 20px;
    margin-bottom: 33px;
    margin-right: 5px;
    margin-left: 0px;
    box-shadow: 0px 3px 15px 0px #0000001A;
}

.room-cards img {
    width: 241.33px;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    border: 5px solid #FFFFFF;
}

.room-cards .card-content {
    width: 250.33px;
    height: 64.25px;
    padding: 0px 15px 0px 15px;
    gap: 8px;
}

.room-cards .card-subtitle {
    margin-top: 8px;
    margin-bottom: 5px;
}

.room-cards .card-title {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.room-cards .card-rating {
    width: 84px;
    height: 13.25px;
    padding: 0px;
    margin-bottom: 5px;
}

.room-cards .card-rating {
    margin-bottom: 5px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
    text-align: left;
    color: #000000;
}

.card-subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.44px;
    text-align: left;
    color: #000000;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    width: 1340px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-rating {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.activites {
    width: 1340px;
    height: 559.02px;
    padding: 30px 0px 0px 0px;
}

.activites-cards {
    margin-top: 33px;
    display: flex;
    justify-content: space-around;
}

.activites-cards .card {
    padding: 0px 0px 10px 0px;
}

.activites-cards .card-content {
    margin-left: 20px;
}

.activites-cards img {
    width: 297.5px;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 3px 15px 0px #0000001A;
}

.pagebottom {
    width: 1340px;
    height: 171px;
    padding-top: 0px;
    background: #F2F2F2;
    margin-top: 20px;
}

.pagebottom ul {
    list-style: none;
    padding-left: 5px;
    margin-left: 15px;
}

.pagebottom li {
    margin-bottom: 5px;
    padding: 5px;
}

.pagebottom h3{
    margin-bottom: 10px;
    padding: 20px 10px 10px 20px;
    margin-left: 5px;
}

.footer-title {
    display: flex;
    justify-content: space-around;
    
}

.list-title {
    width: 446.67px;
    padding: 10px;
    margin-top: -33px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .main-container {
        width: 100%;
        max-width: 1024px;
       justify-content: center;
    }

    .pageheader {
        width: 1024px;
        padding: 0px;
    }

    .link-buttons{
        margin-right: 112px;
    }


    section{
        width: 1024px;
    }

    .filter-bar {
        width: 668px;
        height: 91px;
        display: list-item;
        list-style: none;
    }

    .filters {
        width: 54px;
        font-size: 18px;
        font-weight: 700;
        line-height: 21.13px;
        text-align: center;
    }

    .filter-button{
        height:50px;
        padding: 4px 19px 4px 19px;
        border-radius: 25px;
        border: 2px solid #D9D9D9;
    }

    .filter-button-txt{
        font-size: 16px;
        font-weight: 700;
        text-align: left;
    }

    .fa-money-bill-wave {
        width: 22px;
        height: 16.26px;
    }

    .fa-person {
        width: 13.44px;
        height: 22px;
        margin-left: 4px;
    }

    .fa-heart {
        width: 22px;
        height: 18.33px;
    }

    .fa-fire {
        width: 18px;
        height: 20.08px;
    }

    .room-title .section-title {
        width: 864px;
        margin-left: 5px;
        font-size: 22px;
        font-weight: 700;
        line-height: 25.83px;
        text-align: left;
    }

    .room-cards {
        margin-bottom: 0px;
    }

    .room-cards .card {
        width: 268px;
        height: 207.25px;
        padding: 0px 0px 15px 0px;
        border-radius: 20px;
        box-shadow: 0px 3px 15px 0px #0000001A;
    }

    .room-cards img {
        width: 258px;
        height: 124px;
        border-radius: 20px 20px 0px 0px;
        border: 5px solid #FFFFFF;
    }

    .populaires {
        margin-top: 0px;
    }

    .populaires-title {
        width: 864px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
        width: 924px;
        height: 913.5px;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites {
        width: 924px;
        height: 390.02px;
        padding: 30px;
    }

    .activites-title .section-title {
        width: 864px;
        height: 30.02px;
        margin-top: 68px;
        margin-left: 5px;
        margin-bottom: 0px;
    }

    .activites-cards {
        width: 864px;
        height: 270px;
        gap: 30px;
    }

    .activites-cards .card {
        width: 193.5px;
        height: 270px;
        border-radius: 20px;
        margin-top: 0px;
        color: #FFFFFF;
        box-shadow: 0px 3px 15px 0px #0000001A;
        padding: 0px 0px 0px 0px;
    }

    .activites-cards img {
        width: 193.5px;
        height: 200px;
        border-radius: 20px 20px 0px 0px;
    }

    .pagebottom {
        width: 924px;
        height: 163px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

    .main-container {
        width: 100%;
        max-width: 767.98px;
    }

    section {
        width: 375px;
    }

    .pageheader {
        width: 375px;
        height: 115px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 33px;
    }

    #logo {
        display: flex;
        justify-content: center;
        margin-left: 120px;
        margin-bottom: 20px;
    }

    .link-buttons {
        gap:10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 15px 15px 0px;
    }

    .activites-link {
        margin-left: 105px;
    }

    .activites-link:hover {
        border-top-style:none;
        border-bottom-style: solid;
        padding-bottom: 15px;
        color: #0065FC;
        border-bottom-color: #0065FC;
    }

    .hebergements-link {
        margin-left: 0px;
    }

    .hebergements-link:hover {
        border-top-style:none;
        border-bottom-style: solid;
        padding-bottom: 15px;
        color: #0065FC;
        border-bottom-color: #0065FC;
    }

    .search-bar{
        margin-top: 33px;
    }
    .search-bar {
        width: 335px;
        border-radius: 15px;
        border: 1px solid #F2F2F2;
    }

    .search-button {
        display: none;
    }

    .magnifying-glass-button {
        width: 49px;
        padding: 15px 16px 15px 16px;
        border-radius: 15px;
        background-color: #0065FC;
        border: 1px solid #0065FC;
        display: inline;
    }

    .filter-bar {
        width: 335px;
        height: 161px;
    }

    .filter-button {
        width: 162.5px;
        padding: 4px 19px 4px 19px;
        border-radius: 25px;
        border: 2px solid #D9D9D9;
        margin:0px 0px 15px 2px;
    }

    .filter-button-txt{
        font-size: 14px;
        font-weight: 700;
        text-align: left;
    }

    .fa-money-bill-wave {
        width: 22px;
        height: 16.26px;
        top: 2.87px;
    }

    .fa-person {
        width: 13.44px;
        height: 22px;
        left: 4px;
    }

    .fa-heart {
        width: 22px;
        height: 18.33px;
    }

    .fa-fire {
        width: 18px;
        height: 20.08px;
    }

    .info-bar {
        width: 335px;
        display: flex;
        flex-direction: row;
    }

   .info-bar .fa-solid {
        width: 24px;
        margin-top: 8px;
    }

    .info-bar p{
        width: 301px;
        font-size: 16px;
        font-weight: 400;
        line-height: 18.78px;
        text-align: left;
        margin-top: 0px;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 1268px;
        width: 375px;
    }

    .populaires{
        border-radius: 0 !important;
    }

    .populaires-title{
        width: 335px;
        margin-left: -10px;
        margin-bottom: 10px;
    }

    .populaires-cards{
        display: flex;
        flex-direction: column;
        margin-left: -18px;
    }

    .populaires-cards .card{
        width: 335px;
        padding: 0px;
        border-radius: 20px;
        margin: 7px;
    }

    .populaires-cards img{
        width: 111.67px;
        border-radius: 20px 0px 0px 20px;
        
        padding:5px;
    }

    .populaires-cards .card-title{
        font-size: 16px;
        font-weight: 700;
        line-height: 18.78px;
        text-align: left;
    }

    .populaires-cards .card-subtitle{
        font-size: 14px;
        font-weight: 400;
        line-height: 16.44px;
        text-align: left;
        margin-top: 0px;
    }

    .hebergements{
        background-color: #FFFFFF !important;
        border-radius: 0 !important;
    }

    .room-title .section-title{
        width: 335px;
        font-size: 22px;
        font-weight: 700;
        line-height: 25.83px;
        text-align: left;
        margin-top:5px;
        margin-left: -5px;
    }
    
    .room-cards{
        display: flex;
        flex-direction: column;
        margin-left: -17px;
        margin-top: 8px;
        margin-bottom: -10px;
    }

    .room-cards .card{
        width: 335px;
        padding: 0px 0px 15px 0px;
        border-radius: 20px;
        margin: 7px;
    }

    .room-cards img{
        width: 325px;
        border-radius: 20px 20px 0px 0px;
        border: 5px solid #FFFFFF
    }

    .room-cards .card-title{
        font-size: 16px;
        font-weight: 700;
        line-height: 18.78px;
        text-align: left;
    }

    .room-cards .card-subtitle{
        font-size: 14px;
        font-weight: 400;
        line-height: 16.44px;
        text-align: left;
    }

    .activites-title{
        width: 315px;
        font-size: 22px;
        font-weight: 700;
        line-height: 25.83px;
        text-align: left;
        margin-top: -62px;
        margin-left: -15px;
    }

    .activites-cards{
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        margin-left: -10px;
    }

    .activites-cards .card{
        width: 315px;
        border-radius: 20px;
        margin: -7px;
    }

    .activites-cards img{
        width: 315px;
        border-radius: 20px 20px 0px 0px;
    }

    .activites-cards .card-title{
        font-size: 16px;
        font-weight: 700;
        line-height: 18.78px;
        text-align: left;
    }

    .pagebottom{
        width: 375px;
        height:461px;
        margin-top: 830px;
        margin-left: 0px; 
    }

    .footer-title{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .pagebottom li{
       margin-top: 5px;
    }
    
    .pagebottom h3{
        margin-top: 33px;
        padding: 20px 10px 0px 20px;
        margin-left: 5px;
    }
    .list-title {
        width: 446.67px;
        padding: 0px;
        margin-top: -33px;
    }

}

