*{  
    font-family: 'raleway', sans-serif;
}

.linkbuttons{
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

form{
    border-radius: 1px 1px 1px 1px;
}
