*{  
   max-width: 1440px;
    font-family: 'raleway', sans-serif;
}

.linkbuttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 68px;
    text-decoration: none;
    list-style: none;
    width: Hug (344px)px;
    height: Hug (35px)px;
    left: 1096px;
    padding: 0px 50px 0px 50px;
    opacity: 0px;

}

.logo{
    width: 61.09px;
    height: 19px;
    top: 30px;
    left: 50px;
    gap: 0px;
    opacity: 0px;

}

form{
    display:block;
    width: Fixed(377px);
    height: Fixed(49px);
    border-radius: 15px;
    gap: 24px;
}

.roomimages{
    width: 250.33px;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    border: 5px 0px 0px 0px;
}

.roomcards{
    display: grid;
    grid-template-columns: 811px 811px 811px;
    grid-template-rows: 207.25px 207.25px;
    gap: 30px;
}

